# Copyright (C) 2022 Nitrokey GmbH
# SPDX-License-Identifier: CC0-1.0

fido2 >=1.1,<2
pexpect >=4,<5
# pynitrokey ==0.4.31
git+https://github.com/nitrokey/pynitrokey@0e8bf844fd764807828cb6539e519170d5bb0be5#egg=pynitrokey
pytest >=7,<8
