# Copyright (C) 2022 Nitrokey GmbH
# SPDX-License-Identifier: CC0-1.0

fido2 >=1.1,<2
pexpect >=4,<5
pynitrokey @ git+https://github.com/nitrokey/pynitrokey@6f5c2c098bb0ee4d9136d5db8539227f3e791a94
pytest >=7,<8
pytest-reporter-html1

# pyyaml is broken with cython 3
# see https://github.com/yaml/pyyaml/issues/724
pyyaml !=6.0.0,!=5.4.0,!=5.4.1
