# Copyright (C) 2022 Nitrokey GmbH
# SPDX-License-Identifier: CC0-1.0

fido2 >=1.1,<2
pexpect >=4,<5
# pynitrokey ==0.4.31
git+https://github.com/nitrokey/pynitrokey@e40f91a4232b09cbb6c92740f650b9c170da7033#egg=pynitrokey
pytest >=7,<8
